Repository bitsstdcheee/wooden_core, changes with the labels that .github/labeler.yml gives for each.
All labels: Github Actions, Scripts, PR Labeler, Unit Test, README, Skill, Core

have_axe 去除 clap, 完善 judge_have 测试 添加了对 have_axe, have_clap_axe 的测试
  tests/judge_have/main.cpp
  wooden_judge.cpp
Labels: Unit Test

添加了 Test Alpaca 2.1, 2.2 (未通过)
  .vscode/settings.json
  tests/wooden_judge/test.cpp
  tests/wooden_judge/test.h
Labels: Unit Test

TEST_NUM 自动设置为 tests 的长度
  tests/wooden_judge/test.cpp
Labels: Unit Test

gtest 输出详细信息
  .github/workflows/cmake-matrix-test-unix.yml
Labels: Github Actions

输出日志设置条件为 always()
  .github/workflows/cmake-matrix-test-unix.yml
Labels: Github Actions

TESTN 添加 need_check, 暂时关闭 Alpaca 2 的测试检查
  tests/wooden_judge/main.cpp
  tests/wooden_judge/test.cpp
  wooden_test.cpp
  wooden_test.h
Labels: Unit Test

添加简化测试数据生成的函数
  wooden_util.cpp
  wooden_util.h
Labels: none

将默认参数移动至头文件
  wooden_util.cpp
  wooden_util.h
Labels: none

gen_tag_died 添加基于数量的重载
  wooden_util.cpp
  wooden_util.h
Labels: none

gen_skill_count 添加基于数量的重载
  wooden_util.cpp
  wooden_util.h
Labels: none

修改方法名
  wooden_util.cpp
  wooden_util.h
Labels: none

添加 test18
  tests/wooden_judge/test.cpp
Labels: Unit Test

删除不正确的处理逻辑
  wooden_judge.cpp
Labels: none

修改处理盾的方式为单盾 & 群盾
  wooden_judge.cpp
Labels: none

test alpaca 2 开启 check
  tests/wooden_judge/test.cpp
Labels: Unit Test

删除错误的剪枝
  wooden_judge.cpp
Labels: none

添加 test 中防
  tests/wooden_judge/test.cpp
Labels: Unit Test

Codecov token
  .github/workflows/cmake-matrix-debug-linux.yml
  .github/workflows/cmake-matrix-test-unix.yml
Labels: Github Actions

补充黄剑伤害
  doc/skills.md
Labels: none

添加 test 黄剑连锁及其反转
  tests/wooden_judge/test.cpp
Labels: Unit Test

TESTN 支持单玩家传入多个招式
  tests/wooden_judge/main.cpp
  wooden_judge.cpp
  wooden_test.cpp
  wooden_test.h
  wooden_util.cpp
  wooden_util.h
Labels: Unit Test

添加 4 个 test
  tests/wooden_judge/test.cpp
Labels: Unit Test

Done: 黄剑的连锁判定
  wooden_judge.cpp
Labels: none

Release 时使用 Ofast 优化
  CMakeLists.txt
Labels: none

添加夹剑, 添加 test 夹剑-木剑, 夹剑-黄剑
  tests/wooden_judge/test.cpp
  wooden_judge.cpp
  wooden_judge.h
  wooden_skill.h
  wooden_util.cpp
  wooden_util.h
Labels: Unit Test

vs code 添加 test-wooden_judge 的调试
  .vscode/launch.json
Labels: none

添加 test 夹拳, 夹波波剑
  tests/wooden_judge/test.cpp
Labels: Unit Test

优化选项改为使用 O3, 添加 /utf-8 以适配在 GBK 编码下使用 vs 编译
  CMakeLists.txt
Labels: none

WIN32 尝试使用 lld 加速链接
  CMakeLists.txt
Labels: none

添加大局 TESTF, 大局中的单位小局 TESTK
  tests/wooden_judge/main.cpp
  tests/wooden_judge/test.cpp
  tests/wooden_judge/test.h
  wooden_test.cpp
  wooden_test.h
Labels: Unit Test

修正夹类有概率出现夹剑消除后技能传递问题
  wooden_judge.cpp
Labels: none

暂时默认使所有玩家在所有批次上有招式, 修改 & 添加 test
  tests/wooden_judge/main.cpp
  tests/wooden_judge/test.cpp
Labels: Unit Test

删除废弃的 Makefile
  makefile_20230301
Labels: none

do_main 函数返回值更改为需要更新招式的玩家
  tests/wooden_judge/main.cpp
  wooden_judge.cpp
  wooden_judge.h
  wooden_skill.cpp
  wooden_skill.h
Labels: Unit Test

添加 array 头文件, skill_name 关闭 clang 格式化
  wooden_skill.cpp
Labels: none

TESTK 将 target 融合到 skills 中
  tests/wooden_judge/main.cpp
  tests/wooden_judge/test.cpp
  wooden_test.cpp
  wooden_test.h
Labels: Unit Test

添加 TESTK 构造函数的简洁版本
  tests/wooden_judge/test.cpp
  wooden_test.cpp
  wooden_test.h
Labels: Unit Test

添加 imgui (v1.89.7)
  .gitmodules
Labels: none

忽略第三方的覆盖数据
  codecov.yml
Labels: none

删除 Upstream imgui
  .gitmodules
Labels: none

.github/labeler.yml:

Github Actions:
- .github/workflows/*

Scripts:
- .github/scripts/*

PR Labeler:
- .github/labeler.yml

Unit Test:
- tests/**

README:
- 'README.md'

Skill:
- any: ['wooden_skill.h', 'wooden_skill.cpp']

Core:
- 'wooden_core.cpp'
