Repository bitsstdcheee/wooden_core, changes with the labels that .github/labeler.yml gives for each.
All labels: Github Actions, Scripts, PR Labeler, Unit Test, README, Skill, Core

.github/labeler.yml:

Github Actions:
- .github/workflows/*

Scripts:
- .github/scripts/*

PR Labeler:
- .github/labeler.yml

Unit Test:
- tests/**

README:
- 'README.md'

Skill:
- any: ['wooden_skill.h', 'wooden_skill.cpp']

Core:
- 'wooden_core.cpp'

移除 /utf-8 选项
  CMakeLists.txt
Labels: none

添加部分 gui
  gui/windows/main.cpp
Labels: none

分离 wooden_core, 添加 wooden_game 目标
  CMakeLists.txt
Labels: none

测试 imgui 对 wooden_core 的调用
  gui/windows/main.cpp
Labels: none

添加 gui/fonts 编译, 更改字体, 测试中文, ListBox
  CMakeLists.txt
  gui/windows/main.cpp
  gui/windows/myfont.cpp
Labels: none

Windows 下关闭代码覆盖分析
  CMakeLists.txt
Labels: none

cmake 资源文件单独拷贝
  CMakeLists.txt
Labels: none

skill_name 使用 UTF-8 编码, 添加 SKILL_NUM 宏定义
  wooden_skill.cpp
  wooden_skill.h
Labels: none

添加技能查看列表
  gui/windows/main.cpp
Labels: none

添加测试数据查看测试 GUI
  gui/windows/main.cpp
Labels: none

修改错别字
  wooden_judge.cpp
Labels: none

默认关闭 GBK 输出编码
  CMakeLists.txt
Labels: none

添加 test 咕噜咕噜-评测 (小局)
  tests/wooden_judge/test.cpp
Labels: Unit Test

咕噜咕噜遇到评测时直接出局, 不再延迟出招
  wooden_judge.cpp
Labels: none

添加部分测试数据编辑器 GUI 代码
  gui/windows/main.cpp
Labels: none

添加 test 咕噜咕噜-评测 (小局)
  tests/wooden_judge/test.cpp
Labels: Unit Test

咕噜咕噜遇到评测时直接出局, 不再延迟出招
  wooden_judge.cpp
Labels: none

为 VS 添加 /utf-8 编译选项, 分离 VS 与其他编译器的选项
  CMakeLists.txt
Labels: none

只设置环境变量
  CMakeLists.txt
Labels: none

调整 UTF-8 编码使 MSVC 适配, 为 MSVC 去除不支持的编码
  CMakeLists.txt
Labels: none

VS 使用 /O2 优化
  CMakeLists.txt
Labels: none

添加 Protobuf 库
  .gitmodules
Labels: none

添加 protobuf cmake, 去除 debug 宏定义, 将代码中的 debug 替换为 DEBUG
  CMakeLists.txt
  wooden_core.cpp
  wooden_debug.cpp
  wooden_judge.cpp
Labels: Core

action checkout 递归克隆
  .github/workflows/clang-format.yml
  .github/workflows/cmake-matrix-debug-linux.yml
  .github/workflows/cmake-matrix-debug-macos.yml
  .github/workflows/cmake-matrix-debug-windows.yml
  .github/workflows/cmake-matrix-release.yml
  .github/workflows/cmake-matrix-test-unix.yml
  .github/workflows/cmake-matrix-test-windows.yml
  .github/workflows/fetch-last-ref.yml
  .github/workflows/static-check.yml
Labels: Github Actions

调整 UTF-8 编码使 MSVC 适配, 为 MSVC 去除不支持的编码
  CMakeLists.txt
Labels: none

优化编译选项添加逻辑
  CMakeLists.txt
Labels: none

添加测试点备注变量
  tests/wooden_judge/main.cpp
  wooden_test.cpp
  wooden_test.h
Labels: Unit Test

文档: 添加技能的指向性属性
  doc/skills.md
Labels: none

添加测试 大局-咕噜评测局1
  tests/wooden_judge/test.cpp
Labels: Unit Test

优化备注的输出逻辑
  tests/wooden_judge/main.cpp
Labels: Unit Test

添加了管类的相应处理逻辑, 添加对应测试, 修复问题
  tests/wooden_judge/main.cpp
  tests/wooden_judge/test.cpp
  wooden_judge.cpp
  wooden_judge.h
  wooden_skill.cpp
  wooden_skill.h
Labels: Unit Test

更新 have_att 测试
  tests/judge_have/main.cpp
Labels: Unit Test

添加 LICENSE
  LICENSE
Labels: none

添加 LICENSE
  LICENSE
Labels: none

添加 LICENSE (#30)
  LICENSE
Labels: none

添加招式连用的判定, 添加相关测试 大局-咕噜判定局1
  tests/wooden_judge/main.cpp
  tests/wooden_judge/test.cpp
  wooden_judge.cpp
  wooden_judge.h
Labels: Unit Test

修改 wooden_game.exe 的调试器路径
  .vscode/launch.json
Labels: none

添加小局批次结点 RoundPatch
  tests/wooden_judge/main.cpp
  wooden_util.cpp
  wooden_util.h
Labels: Unit Test

Linux 使用静态编译, Windows 取消 VS 编译
  .github/workflows/cmake-matrix-debug-linux.yml
  .github/workflows/cmake-matrix-debug-windows.yml
  CMakeLists.txt
Labels: Github Actions

修复 action bug
  .github/workflows/cmake-matrix-debug-linux.yml
Labels: Github Actions
