Repository bitsstdcheee/wooden_core, changes with the labels that .github/labeler.yml gives for each.
All labels: Github Actions, Scripts, PR Labeler, Unit Test, README, Skill, Core

.github/labeler.yml:

Github Actions:
- .github/workflows/*

Scripts:
- .github/scripts/*

PR Labeler:
- .github/labeler.yml

Unit Test:
- tests/**

README:
- 'README.md'

Skill:
- any: ['wooden_skill.h', 'wooden_skill.cpp']

Core:
- 'wooden_core.cpp'

修复 action bug
  CMakeLists.txt
Labels: none

修复 action bug
  .github/workflows/cmake-matrix-debug-linux.yml
Labels: Github Actions

修复 action bug
  .github/workflows/cmake-matrix-debug-linux.yml
  CMakeLists.txt
Labels: Github Actions

添加 include
  CMakeLists.txt
Labels: none

添加动态编译的选项(暂时不可用)
  .vscode/settings.json
  CMakeLists.txt
Labels: none

添加 RoundPatch Protobuf
  proto/Qi.pb.cc
  proto/Qi.pb.h
  proto/Qi.proto
  proto/RoundPatch.pb.cc
  proto/RoundPatch.pb.h
  proto/RoundPatch.proto
  proto/Skill.pb.cc
  proto/Skill.pb.h
  proto/Skill.proto
  proto/SkillCount.pb.cc
  proto/SkillCount.pb.h
  proto/SkillCount.proto
  proto/SkillUsed.pb.cc
  proto/SkillUsed.pb.h
  proto/SkillUsed.proto
  proto/TagDied.pb.cc
  proto/TagDied.pb.h
  proto/TagDied.proto
Labels: none

修复自动格式化程序
  .github/scripts/check_clang_format.sh
  .github/scripts/run_clang_format.sh
Labels: Scripts

重新生成 Proto
  proto/Qi.pb.h
  proto/RoundPatch.pb.h
  proto/Skill.pb.h
  proto/SkillCount.pb.h
  proto/SkillUsed.pb.h
  proto/TagDied.pb.h
Labels: none

修复自动格式化程序
  .github/scripts/check_clang_format.sh
  .github/scripts/run_clang_format.sh
Labels: Scripts

Artifact 压缩上传
  .github/workflows/cmake-matrix-debug-linux.yml
  .github/workflows/cmake-matrix-debug-macos.yml
  .github/workflows/cmake-matrix-debug-windows.yml
Labels: Github Actions

fix: 压缩包名中含有空格造成压缩时错误
  .github/workflows/cmake-matrix-debug-linux.yml
  .github/workflows/cmake-matrix-debug-macos.yml
  .github/workflows/cmake-matrix-debug-windows.yml
Labels: Github Actions
