Repository bitsstdcheee/wooden_core, changes with the labels that .github/labeler.yml gives for each.
All labels: Github Actions, Scripts, PR Labeler, Unit Test, README, Skill, Core

修改 cover.info typo
  .github/workflows/cmake-matrix-debug-linux.yml
Labels: Github Actions

Revert "测试去除 Path Fix"
  codecov.yml
Labels: none

Fix type in codecov
  .github/workflows/cmake-matrix-debug-linux.yml
Labels: Github Actions

Revert "测试去除 Path Fix"
  codecov.yml
Labels: none

测试去除 lcov_branch_coverage=1
  .github/workflows/cmake-matrix-debug-linux.yml
  .github/workflows/cmake-matrix-debug-macos.yml
  .github/workflows/cmake-matrix-test-unix.yml
Labels: Github Actions

Add --ignore-errors inconsistent
  .github/workflows/cmake-matrix-debug-macos.yml
  .github/workflows/cmake-matrix-test-unix.yml
Labels: Github Actions

Revert "Add --ignore-errors inconsistent"
  .github/workflows/cmake-matrix-debug-macos.yml
  .github/workflows/cmake-matrix-test-unix.yml
Labels: Github Actions

tests: 添加 judge_have 测试 (#28)
  .github/workflows/cmake-matrix-debug-linux.yml
  .github/workflows/cmake-matrix-debug-macos.yml
  .github/workflows/cmake-matrix-test-unix.yml
  .github/workflows/cmake-matrix-test-windows.yml
  CMakeLists.txt
  tests/failure/CMakeLists.txt
  tests/hello/CMakeLists.txt
  tests/judge_have/CMakeLists.txt
  tests/judge_have/main.cpp
  tests/num_skl_check/CMakeLists.txt
  tests/template/CMakeLists.txt
  tests/wooden_judge/CMakeLists.txt
  wooden_judge.cpp
Labels: Github Actions, Unit Test

暂时关闭 macos 的 lcov 上传
  .github/workflows/cmake-matrix-debug-macos.yml
  .github/workflows/cmake-matrix-test-unix.yml
Labels: Github Actions

have_axe 不再把 clap 作为 true
  wooden_judge.cpp
Labels: none

为 have_axe, have_clap_axe 添加测试
  tests/judge_have/main.cpp
Labels: Unit Test

修改 vscode settings 以适配 MacOS 设置
  .vscode/settings.json
Labels: none

暂时关闭 macos 的 lcov 上传 (#29)
  .github/workflows/cmake-matrix-debug-macos.yml
  .github/workflows/cmake-matrix-test-unix.yml
Labels: Github Actions

macOS 平台去除 LCOV 的安装步骤
  .github/workflows/cmake-matrix-debug-macos.yml
  .github/workflows/cmake-matrix-test-unix.yml
Labels: Github Actions

CMake 取消显示 gtest 的警告 (version >= 3.24)
  CMakeLists.txt
Labels: none

Add self-hosted
  .github/workflows/cmake-matrix-release-self.yml
Labels: Github Actions

使用 self-hosted server
  .github/workflows/cmake-matrix-release-self.yml
Labels: Github Actions

修改名称
  .github/workflows/cmake-matrix-release-self.yml
Labels: Github Actions

修改默认 shell
  .github/workflows/cmake-matrix-debug-windows.yml
Labels: Github Actions

修改默认 shell
  .github/workflows/cmake-matrix-debug-windows.yml
  .github/workflows/cmake-matrix-release-self.yml
Labels: Github Actions

Fix typo
  .github/workflows/cmake-matrix-release-self.yml
Labels: Github Actions

Fix typo
  .github/workflows/cmake-matrix-release-self.yml
Labels: Github Actions

Add test for self-hosted runner
  .github/workflows/test-self.yml
Labels: Github Actions

Modified name
  .github/workflows/test-self.yml
Labels: Github Actions

exit 0
  .github/workflows/test-self.yml
Labels: Github Actions

self 修改线程
  .github/workflows/cmake-matrix-release-self.yml
Labels: Github Actions

Delete jobs when configure cmake project
  .github/workflows/cmake-matrix-release-self.yml
Labels: Github Actions

Self hosted 完善步骤
  .github/workflows/cmake-matrix-release-self.yml
Labels: Github Actions

Self host change target to all
  .github/workflows/cmake-matrix-release-self.yml
Labels: Github Actions

Update cmake-matrix-release-self.yml
  .github/workflows/cmake-matrix-release-self.yml
Labels: Github Actions

修改 test13 为检查项, do_main 支持 Hither, Alpaca Alpaca 尚未添加相关测试
  tests/wooden_judge/main.cpp
  wooden_judge.cpp
Labels: Unit Test

将 Hither 技能的耗气改为 1 似乎之前写错了, 但测试是对的
  doc/skills.md
  wooden_judge.cpp
Labels: none

添加 .DS_Store 忽略
  .gitignore
Labels: none

关闭 CMake 详细输出
  CMakeLists.txt
Labels: none

抽象化 Tests 的调用
  tests/wooden_judge/main.cpp
  tests/wooden_judge/test.cpp
  tests/wooden_judge/test.h
Labels: Unit Test

代码格式化: 分离通配符列表, 添加对 inl 文件和 tests/ 目录的格式检查
  .github/scripts/check_clang_format.sh
  .github/scripts/run_clang_format.sh
Labels: Scripts

修正tests/通配符
  .github/scripts/check_clang_format.sh
  .github/scripts/run_clang_format.sh
Labels: Scripts

修正tests/通配符
  .github/scripts/check_clang_format.sh
  .github/scripts/run_clang_format.sh
Labels: Scripts

补充 skill 的 defense, qi, attack, 添加 qi_base, 补充和修正对于 alpaca 的展开, 修正对于 Step 12 拍手情况的处理, 修改常量数组的大小, 添加 test15 - Alpaca 1
  tests/wooden_judge/test.cpp
  tests/wooden_judge/test.h
  wooden_judge.cpp
  wooden_judge.h
Labels: Unit Test

补充 skill 的耗气, 格式化文档
  doc/skills.md
Labels: none

.github/labeler.yml:

Github Actions:
- .github/workflows/*

Scripts:
- .github/scripts/*

PR Labeler:
- .github/labeler.yml

Unit Test:
- tests/**

README:
- 'README.md'

Skill:
- any: ['wooden_skill.h', 'wooden_skill.cpp']

Core:
- 'wooden_core.cpp'
