Repository bitsstdcheee/wooden_core, changes with the labels that .github/labeler.yml gives for each.
All labels: Github Actions, Scripts, PR Labeler, Unit Test, README, Skill, Core

.github/labeler.yml:

Github Actions:
- .github/workflows/*

Scripts:
- .github/scripts/*

PR Labeler:
- .github/labeler.yml

Unit Test:
- tests/**

README:
- 'README.md'

Skill:
- any: ['wooden_skill.h', 'wooden_skill.cpp']

Core:
- 'wooden_core.cpp'

添加 folk imgui
  .gitmodules
Labels: none

移动 main 函数至 wooden_main.cpp
  wooden_core.cpp
  wooden_main.cpp
Labels: Core

打包 imgui 静态链接库, 添加一个测试 imgui 程序
  CMakeLists.txt
  gui/windows/main.cpp
Labels: none

修改 action
  .github/workflows/cmake-matrix-debug-linux.yml
  .github/workflows/cmake-matrix-debug-macos.yml
  .github/workflows/cmake-matrix-debug-windows.yml
  .github/workflows/cmake-matrix-release.yml
Labels: Github Actions

action checkout 递归克隆
  .github/workflows/clang-format.yml
  .github/workflows/cmake-matrix-debug-linux.yml
  .github/workflows/cmake-matrix-debug-macos.yml
  .github/workflows/cmake-matrix-debug-windows.yml
  .github/workflows/cmake-matrix-release.yml
  .github/workflows/cmake-matrix-test-unix.yml
  .github/workflows/cmake-matrix-test-windows.yml
  .github/workflows/fetch-last-ref.yml
  .github/workflows/static-check.yml
Labels: Github Actions

修复了 wooden_game 编译错误的问题
  .github/workflows/cmake-matrix-debug-windows.yml
  CMakeLists.txt
  gui/unix/main.cpp
Labels: Github Actions

cmake 删除 EXLUDE 属性
  CMakeLists.txt
Labels: none

unix 安装 glfw
  .github/workflows/cmake-matrix-debug-linux.yml
  .github/workflows/cmake-matrix-debug-macos.yml
  .github/workflows/cmake-matrix-release.yml
  CMakeLists.txt
Labels: Github Actions

压缩上传的代码
  .github/workflows/fetch-last-ref.yml
Labels: Github Actions

unix 使用 glfw3
  CMakeLists.txt
Labels: none

修正上传 Artifact 的行为
  .github/workflows/fetch-last-ref.yml
Labels: Github Actions

在 Unix 平台上取消 wooden_gui 的编译
  .github/workflows/cmake-matrix-debug-linux.yml
  .github/workflows/cmake-matrix-debug-macos.yml
Labels: Github Actions

删除相关状态判断条件
  .github/workflows/cmake-matrix-debug-linux.yml
  .github/workflows/cmake-matrix-debug-macos.yml
Labels: Github Actions

cmake Tests 排除 wooden_main
  CMakeLists.txt
Labels: none

修复窗口重影的问题
  gui/windows/main.cpp
Labels: none

[All] 仅 windows 编译 gui
  .github/workflows/cmake-matrix-release.yml
Labels: Github Actions

移除 /utf-8 选项 [All]
  CMakeLists.txt
Labels: none

添加自定义字体
  gui/windows/main.cpp
  gui/windows/myfont.cpp
Labels: none

恢复 Unix Imgui 编译
  .github/workflows/cmake-matrix-debug-linux.yml
  .github/workflows/cmake-matrix-debug-macos.yml
  CMakeLists.txt
Labels: Github Actions

尝试修复 Unix imgui
  CMakeLists.txt
Labels: none

删除不正确的头文件
  gui/windows/main.cpp
Labels: none

尝试修复 Unix imgui
  CMakeLists.txt
Labels: none

补充变量统计条件
  .github/workflows/cmake-matrix-debug-linux.yml
  .github/workflows/cmake-matrix-debug-macos.yml
Labels: Github Actions

输出GLFW编译参数
  .github/workflows/cmake-matrix-debug-linux.yml
  .github/workflows/cmake-matrix-debug-macos.yml
Labels: Github Actions

尝试修复 Unix imgui
  CMakeLists.txt
Labels: none

链接修改为 PRIVATE
  CMakeLists.txt
Labels: none

macos 使用新的 framework 链接方式
  CMakeLists.txt
Labels: none

删除反引号两边的双引号
  CMakeLists.txt
Labels: none

取消单独的 COMPILE_FLAGS
  CMakeLists.txt
Labels: none

尝试修复 Unix imgui
  CMakeLists.txt
Labels: none

尝试修复 Unix imgui
  CMakeLists.txt
Labels: none

暂时关闭 Runner, 启用 linux macos cmake 的单独编译
  .github/workflows/cmake-matrix-debug-linux.yml
  .github/workflows/cmake-matrix-debug-macos.yml
  .github/workflows/runner.yml
Labels: Github Actions

尝试解决 cmake CMP0004
  CMakeLists.txt
Labels: none

尝试解决 cmake CMP0004
  CMakeLists.txt
Labels: none

尝试解决 cmake CMP0004
  CMakeLists.txt
Labels: none

Revert "暂时关闭 Runner, 启用 linux macos cmake 的单独编译"
  .github/workflows/cmake-matrix-debug-linux.yml
  .github/workflows/cmake-matrix-debug-macos.yml
  .github/workflows/runner.yml
Labels: Github Actions

关闭 Unix imgui
  .github/workflows/cmake-matrix-debug-linux.yml
  .github/workflows/cmake-matrix-debug-macos.yml
Labels: Github Actions

cmake 调试信息输出编译器路径
  CMakeLists.txt
Labels: none

添加帧率统计
  gui/windows/main.cpp
Labels: none

cmake Windows 平台下不打开代码覆盖编译选项
  CMakeLists.txt
Labels: none
